body {
        background-color: #ffb05c;
    }
    h1 {
        color: #884600;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bolder;
    }
    ul {
        list-style-type: square;
    }
    img {
        width: 200px;  
        margin: 10px;
    
    }
    p {
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
        color: #884600;
        font-weight: bolder;
    }
    a{ 
        color: #884600;
        font-family: 'Courier New', Courier, monospace;
        text-decoration: none;  
        font-size: 20px;
        font-weight: bolder;
    }
    a:hover {
        text-decoration: none;
    }